

<element>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyServletContextListenerTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Receive</servlet-name>
  	<jsp-file>Receive.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Receive</servlet-name>
  	<url-pattern>/Receive</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Success</servlet-name>
  	<jsp-file>Success.jsp</jsp-file>
  	
  	<init-param>  
		<param-name>color</param-name>  
		<param-value>yellow</param-value>  
	</init-param>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>Success</servlet-name>
  	<url-pattern>/Success</url-pattern>
  </servlet-mapping>
  
  
</web-app>


</element>