<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">





<filter>
	<filter-name>CheckNull</filter-name>
	<filter-class>fitlertest.CheckNull</filter-class>

</filter>

<filter-mapping>

	<filter-name>CheckNull</filter-name>
	<url-pattern>/MyServlet</url-pattern>
</filter-mapping>


<filter>
	<filter-name>CheckSymbols</filter-name>
	<filter-class>fitlertest.CheckSymbols</filter-class>

</filter>

<filter-mapping>

	<filter-name>CheckSymbols</filter-name>
	<url-pattern>/MyServlet</url-pattern>
</filter-mapping>


<filter>
	<filter-name>FilterTask</filter-name>
	<filter-class>fitlertest.FilterTask</filter-class>

</filter>

<filter-mapping>

	<filter-name>FilterTask</filter-name>
	<url-pattern>/SecondServlet</url-pattern>
</filter-mapping>




<servlet>
	<servlet-name>MyServlet</servlet-name>
	<servlet-class>fitlertest.MyServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>MyServlet</servlet-name>
	<url-pattern>/MyServlet</url-pattern>
</servlet-mapping>

<welcome-file-list>
	<welcome-file>index.html</welcome-file>

</welcome-file-list>

</web-app>